{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load cache %}

{% cache 100 number %}
{% block title %}
News
{% endblock title %}
{% endcache %}

{% block content %}
   {% cache 100 number1 %}
   <style>
    /* Выравниваем весь контент по левому краю */
    body {
        text-align: left;
    }
   </style>

   <h3>Всего постов в категории {{ category.name }}: {{ category_news_list|length }}</h3>
   {% endcache %}

    {% if is_not_subscriber %}
         <form method="post" action="{% url 'subscribe' category.id %}">
             {% csrf_token %}
             <button type="submit">Подписаться</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'subscribe' category.id %}">
            {% csrf_token %}
            <button type="submit">Отписаться</button>
        </form>
    {% endif %}

   <hr>

   <ul class="list-group list-group-flush">
       {% for post in category_news_list %}
           <li class="list-group-item">
                <small class="fw-bold">{{ post.creationDate|date:'d.m.Y'}}</small>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                <small class="text-muted">(автор: {{ post.author }})</small><br>
                <small class="fw-bold">Категории:
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </small>
                <p>{{ post.text|truncatechars:210 }}</p>
           </li>
       {% endfor %}
   </ul>



{% endblock content %}