{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <style>
    /* Выравниваем весь контент по левому краю */
    body {
        text-align: left;
    }
   </style>
   <h1>Все посты</h1>
   <hr>
   <h3>Всего постов: {{ category_news_list|length }}</h3>
   {% if is_not_subscriber %}
       <p class="text-left"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
   {% endif %}
   <hr>

   <ul class="list-group list-group-flush">
       {% for post in category_news_list %}
           <li class="list-group-item">
                <small class="fw-bold">{{ post.creationDate|date:'d.m.Y'}}</small>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                <small class="text-muted">(автор: {{ post.author }})</small><br>
                <small class="fw-bold">Категории:
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </small>
                <p>{{ post.text|truncatechars:210 }}</p>
           </li>
       {% endfor %}
   </ul>



{% endblock content %}