{% extends "flatpages/default.html" %}
{% load i18n %}
{% load tz %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.text|safe }}</p>

<hr>

{% if user.is_authenticated %}
    {% if user_liked_post %}
        <a class="btn btn-sm btn-outline-danger"
           href="{% url 'unlike_post' post.id %}">💔 Убрать лайк</a>
    {% else %}
        <a class="btn btn-sm btn-outline-success"
           href="{% url 'like_post' post.id %}">❤️ Лайкнуть</a>
    {% endif %}
    {% if user_disliked_post %}
        <a class="btn btn-sm btn-outline-secondary ms-2"
           href="{% url 'undislike_post' post.id %}">🚫 Убрать дизлайк</a>
    {% else %}
        <a class="btn btn-sm btn-outline-dark ms-2"
           href="{% url 'dislike_post' post.id %}">👎 Дизлайкнуть</a>
    {% endif %}
{% endif %}

<p class="mt-2">
    <strong>Лайков:</strong> {{ post.get_likes_count }}
    <strong>Дизлайков:</strong> {{ post.get_dislikes_count }}
</p>

<h2 class="mt-4">Комментарии:</h2>
<ul class="list-unstyled">
    {% for comment in comments %}
        <li class="mb-3">
            <strong>{{ comment.commentUser.username }}</strong>:
            {{ comment.text }}<br>
            <small class="text-muted">Добавлено: {{ comment.creationDate }}</small><br>

            {% if user.is_authenticated %}
                {# --- лайк комментария --- #}
                {% if comment.user_liked_current %}
                    <a class="btn btn-sm btn-outline-danger"
                     href="{% url 'unlike_comment' comment.id %}">💔 Убрать лайк</a>
                {% else %}
                     <a class="btn btn-sm btn-outline-success"
                     href="{% url 'like_comment' comment.id %}">❤️ Лайкнуть</a>
                {% endif %}

                {# --- дизлайк комментария --- #}
                {% if comment.user_disliked_current %}
                  <a class="btn btn-sm btn-outline-secondary ms-2"
                     href="{% url 'undislike_comment' comment.id %}">🚫 Убрать дизлайк</a>
                {% else %}
                  <a class="btn btn-sm btn-outline-dark ms-2"
                     href="{% url 'dislike_comment' comment.id %}">👎 Дизлайкнуть</a>
                 {% endif %}
            {% endif %}
            <p class="mt-2">
                <strong>Лайков:</strong> {{ comment.get_likes_count }} |
                <strong>Дизлайков:</strong> {{ comment.get_dislikes_count }}
            </p>
        </li>
    {% empty %}
        <p>Комментариев пока нет.</p>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
<form class="mt-4" action="{% url 'create_comment' post.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Добавить комментарий</button>
</form>
{% else %}
<p><em>{% trans 'Только зарегистрированные пользователи могут оставлять комментарии и лайки.' %}</em></p>
{% endif %}
{% endblock content %}
