{% extends 'flatpages/default.html' %}

{% block content %}
  <h1>Результаты поиска</h1>

   <form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
  </form>



 {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title}}</td>
               <td>{{ post.creationDate|date:'d.m.Y' }}</td>
               <td>{{ post.text }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock %}